CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
cmake-build-release
cmake-build-debug
.idea
/.vs
/out/build
/library/bin/release
/loader/bin/release
/out
/loader/target